* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    width: 900px;
    font-weight: bold;
}

.navbar .navbar-title {
    font-size: 1.1rem;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.navbar-links .navbar-link:last-child {
    margin-left: 20px;
}

.main-container {
    margin: 10px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.panel {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 20px;
    min-width: 250px;
}

.panel .header {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.panel .content {
    display: flex;
    justify-content: stretch;
    flex-flow: column;
    padding: 20px;
}

button {
    cursor: pointer;
    border: 1px solid lightgray;
    padding: 5px 20px;
}

select {
    padding: 5px;
    width: 100%;
}

.filter-label-input {
    padding: 5px;
    margin-bottom: 15px;
}

.labels {
    max-height: 300px;
    width: 300px;
    cursor: pointer;
    overflow-y: auto;
    border: 1px solid lightgray;
    padding: 10px;
}

.labels .label {
    margin: 10px 5px;
}

.labels .label:hover {
    background-color: rgb(211,211,211);
}

button.next {
    margin-left: 20px;
}

.text-sample {
    width: 600px;
    line-height: 1.1;
}

.text-label-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 10px 0;
    width: 600px;
}

.text-label-container .text-label {
    padding: 5px;
    display: flex;
    font-size: 0.7rem;
}

.text-label-container .text-label .text {
    padding: 5px 10px;
    border: 1px solid lightgray;
    background-color: rgb(211,211,211);
}

.text-label-container .text-label button {
    border: unset;
    border-radius: unset;
    background-color: red;
    text-transform: uppercase;
    font-weight: bold;
}

/* Animations */
@-webkit-keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-moz-keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@-ms-keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.splash {
    text-align: center;
    margin: 10% 0 0;
    box-sizing: border-box;
}

.splash .splash-text {
    font-size: 72px;
    line-height: 72px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .splash-animation {
    width: 60px;
    height: 60px;
    background-color: #676a6c;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 100px auto;
    -webkit-animation: rotate 1.2s infinite ease-in-out;
    animation: rotate 1.2s infinite ease-in-out;
}
