@inherits LabelsSelectorBase

<div class="panel">
    <div class="header">
        Labels
    </div>
    <div class="content">
        <input class="filter-label-input" placeholder="Filter labels..." @oninput="(e => FilterLabels(e.Value.ToString()))" />
        <div class="labels">
            @if (DataSource != null)
            {
                @foreach (var label in DataSource)
                {
                    <div class="label" @key=label.Id @onclick="(() => OnLabelSelectedAsync(label))">@label.Name</div>
                }
            }
        </div>
    </div>
</div>