@inherits NavbarBase

<nav class="navbar">
    <div class="navbar-title">Text Classification</div>
    <div class="navbar-links">
        <div class="navbar-link" @onclick="DisplayTextSamplesDialog">Text Samples</div>
        <div class="navbar-link" @onclick="DisplayLabelsDialog">Labels</div>
    </div>
</nav>